{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap-theme.css" %}">
  <link rel="stylesheet" href="{% static "css/shop/style.css" %}">
  <script src="{% static "vendor/requirejs/require.js" %}"></script>
  <script src="{% static "require.config.js" %}"></script>

{% block head %}
{% endblock %}
</head>
<body>
{% include 'shop/navbar.html' %}

{% block content %}
{% endblock %}
</body>

</html>